{% extends "index.html" %}

{% block header %}
<div id="network-header">
    <div id="headline">
	<h2 id="about-header"><span class="purple">#ONA16Connect<span></h2>
	<p>This app was created by <a target="_blank" href="https://twitter.com/charliersmart">Charlie Smart</a> and <a target="_blank" href="https://twitter.com/tallbrighty">Aaron Albright</a> as part of the 2016 ONA Student Newsroom. Conference attendees are based on a Twitter list created by the <a target="_blank" href="https://twitter.com/ONAConf/lists/attendees-at-ona16">Online News Association</a>. Data was scraped from Twitter using Python. The app is largely JavaScript based, with a <a target="_blank" href="http://flask.pocoo.org">Flask</a> back end and a healthy dose of <a href="https://d3js.org">D3.js</a>.</p>
	<br>
	  <p>ONA16 Connect's <a href="https://github.com/charliesmart/ONA-connections">GitHub Repository</a>.</p>

{% endblock %}
